.svg_WorldMap {
  fill: #ccc;
  stroke: #fff;
  max-height: 500px;
}

.selected {
  fill: purple;
}

.hovered {
  fill: #262626;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem red);
  // filter:drop-shadow(8px 8px 4px rgba(0,0,0,0));
}

.btn {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;

  &--year,
  &--month {
    padding: 0.5rem 1.4rem;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #1ab2cb 0%, #0066a1 90.1%);
    border: none;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1rem;
    color: #ffffff;
    transition: all 0.2s;
    outline: none;

    &:hover {
      background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        #0066a1 0%,
        #1ab2cb 90.1%
      );
      box-shadow: 0.01rem 0.01rem 0.3rem #262626;
    }

    &:disabled {
      border: 1px solid #999999;
      background: #cccccc;
      color: #666666;
      box-shadow: none;
    }
  }

  &--year {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  &--month {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}

.controller {
  position: absolute;
  color: #262626;
  z-index: 10000;

  & > * {
    font-size: 1.8rem;
    display: block;
    background: #fff;
    border: none;
  }

  %buttonDisable {
    background: darken(#fff, 40%);
    color: #fff;
    transform: none;
    cursor: default;
  }

  %buttonHover {
    &:hover {
      transform: scale(0.98);
      cursor: pointer;

      &:disabled {
        @extend %buttonDisable;
      }
    }
  }

  button:disabled {
    @extend %buttonDisable;
  }

  button:first-child {
    border-radius: 0.3rem 0.3rem 0rem 0rem;
    padding: 0 0.5rem;
    @extend %buttonHover;
  }

  button:last-child {
    border-radius: 0rem 0rem 0.3rem 0.3rem;
    padding: 0 0.83rem;
    @extend %buttonHover;
  }
}

.container {
  margin: 0 auto !important;
}

.toolTip {
  font-size: 1.1rem !important;
  padding: 4px 10px !important;
  z-index: 10000 !important;
  &::after {
    bottom: -5px !important;
  }
}
